@import "tailwindcss";

:root {
  --background:  #ffffff;
  --foreground: #ffffff;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #7D7FF4;
  --color-grid-white: #FFFFFF;
  --color-grid-black: #363636;
  --color-grid-background: #FCFCFC;
  --color-grid-gray: #696969;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #ffffff;
  color: var(--foreground);
}

h1{
  font-family: Roboto;
}

h2{
  font-family: Roboto;
}

h3{
  font-family: Roboto;
}

h4{
  font-family: Roboto;
}

h5{
  font-family: Roboto;
}

h6{
  font-family: Roboto;
}

p{
  font-family: Roboto;
}

div{
  font-family: Roboto;
}

span{
  font-family: Roboto;
}

input{
  font-family: Roboto;
}

label{
  font-family: Roboto;
}

a{
  font-family: Roboto;
}
